# Test report

Project has currently 98.38% coverage with unittest using vitest.  

![Test report part 1](./.readme/test_1.png)
![Test report part 2](./.readme/test_2.png)
![Coverage report](./.readme/coverage.png)