:root {
    --poker-green: #006600;
    --light-poker-green: #65af65;
    --grey: #ddd;
    --dark-grey: #aaa;
    --base-grey: #333;
    --white: #fff;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: var(--poker-green);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

poker-game {
    max-width: 100%;
    gap: 1rem;
    width: fit-content;
    background-color: var(--grey);
    position: relative;
}